<?xml version="1.0" encoding="UTF-8"?>
<jnlp
    spec="1.0+"
    codebase="http://www.eviline.org/play"
    href="launch.jnlp">
  <information>
    <title>eviline-webstart</title>
    <vendor>Robin Kirkman</vendor>
    <homepage href="http://www.eviline.org"/>
    <description>Eviline2 webstart</description>
  </information>
  <security>
<!--
     <all-permissions/>
-->
  </security>
  <resources>
    <j2se version="1.7+"/>
         
	$dependencies
     
  </resources>
  <applet-desc name="eviline2" main-class="org.eviline.applet.EvilApplet" width="1024" height="512"/>
</jnlp>

